# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
.env/

# Environment variables / secrets
.env
.env.*
*.env
secrets.py

# Django
*.log
*.pot
*.pyc
db.sqlite3
/staticfiles/
/media/

# Celery
celerybeat-schedule
celerybeat.pid
celerybeat-schedule.db

# ngrok
ngrok
*.ngrok.yml
ngrok.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Redis

dump.rdb

# Google service account credentials
credentials.json
